.Task{
    max-width: 900px;
    border: 1px solid black;
    margin: 0 auto 10px;
    position: relative;

}
.Task p{
    display: inline-block;
}
.Task a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 5px;
    padding: 5px;
}
.AddNewTask{
    margin: 0 auto;
}

.AddNewTask input{
    width: 600px ;
    margin-bottom: 20px;
    height: 30px;
    font-size: 20px;

}
.AddNewTask button{
    height: 30px;
    width: 60px;
    margin-left: 10px;
    background: #cacaca;
}